opencv-python
roboflow
ultralytics
mediapipe
fastapi
uvicorn
python-multipart
streamlit
altair
pandas
streamlit-webrtc
av
streamlit-autorefresh
yt-dlp
jsonschema-specifications
Pillow
matplotlib
tqdm
rfdetr[train,loggers]